* {

    margin: 0;

    padding: 0;

}

body {

    height: 500vh;

}

.bg {
    background-image: url('bgg.jpg');

    background-size: cover;

    height: 500px;

}

li {

    display: inline;

    padding: 40px;

    font-size: 1.4rem;

    font-weight: bold;

}

.navbar {

    color:darkorchid;

    position: fixed;

    padding: 40px;

    width: 100%;

}

.BgColor {

    color: palevioletred;

    transition: all 1s;

    background-color: darkblue;

    border-bottom:yellowgreen;
    
}